* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;

  font-family: var(--font-main);

  background: var(--color-background);
  color: var(--color-text);

  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
}
.page-transition{
    width: 100%;
}